<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tambah Jabatan</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootsrap.min.js}"></script>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>

	
	
	<form th:action="@{/jabatan/tambah}" th:object="${pegawai}" method="POST">
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="card-header">
			<h2>Tambah Jabatan</h2>
			<table>
			<tr height="50">
				
				<td width="250">
				Nama
				</td>
				<td> 
				<input type="text" name="nama" />
				</td>
							
			</tr>
			<tr height="50">
				
				<td>
				Deskripsi
				</td>
				<td> 
				<input type="text" name="deskripsi" />
				</td>
							
			</tr>
			<tr height="50">
				<td>
				Gaji Pokok
				</td>
				<td> 
				<input type="number" name="gaji_pokok" />
				</td>
			</tr>
				
			
			</table>
			
			
		<button type="submit">Simpan</button>
		</div>	
		
			
		
	
	</form>

</body>


</html>